<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<form method="post" th:action="@{/logout}">
  <input type="submit" value="Sign Out"/>
</form>

<div>
  <p>Spring Security Thymeleaf tutorial</p>

  <div sec:authorize="hasRole('USER')">Text visible to user.</div>
  <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
  <div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
  </div>

  <div>Authenticated username:<span sec:authentication="name"></span></div>
  <div>Authenticated user roles:<span sec:authentication="principal.authorities"></span></div>
</div>
</body>
</html>